
// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"

$grid-gutter-width: 30px
$grid-columns: 12
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px)
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px)

$gutter: $grid-gutter-width

// Users variables

$font-1: 'Rubik', sans-serif
$font-2: 'Barlow Condensed', sans-serif

$accent: #4688D6
$font: #212529
$gray: #fafafa

$gradient-1: #7CBDED

$font-color: #444