@import vars
@import fonts
@import libs
@import helpers

\::placeholder
	color: #666

\::selection
	background-color: $accent
	color: #fff

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1
	font-family: $font-1
	font-weight: 400
	overflow-x: hidden

body, input, textarea, select, button
	font-synthesis: none
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0)
	-webkit-text-size-adjust: none
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
	-moz-font-feature-settings: "kern"

ol, ul, dl
	padding: 0
	margin: 0

h1, h2, h3, h4, h5, h6
	margin: 0

p
	margin: 0

li
	list-style: none

a, a:hover, a:focus, a:active, a:visited, a:focus-within
	color: inherit
	text-decoration: none

input, textarea
	border: #666 1px solid
	outline: none

	&:focus:required:invalid
		border-color: red

	&:required:valid
		border-color: green

.img-responsive
	display: block
	max-width: 100%
	height: auto

.text-center
	text-align: center

.top-header
	position: relative
	z-index: 2
	height: 70px
	background-color: #fff
	box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.06)

	.row
		height: 70px

.top-header-inner
	height: 70px

.bottom-header
	height: 70px
	background-color: #fff
	box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.04)

.top-menu
	font-size: 0
	display: inline-block

	li
		font-size: 15px
		font-weight: 300
		display: inline-block
		margin-right: 30px
		transition: color 0.2s ease-in-out

		&:last-child
			margin-right: 0

		&:hover
			color: $accent

.header-phone
	display: inline-block
	padding: 8px 25px
	margin-left: 115px
	border: 1px solid #ccc
	border-radius: 50px
	font-family: "Barlow Condensed", sans-serif
	font-size: 20px
	font-weight: 500
	text-align: center
	transition: all 0.2s ease-in-out

	span
		display: block
		position: relative
		top: 1px

	&:hover
		color: $accent
		border-color: $accent

.bottom-menu
	//height: 70px
	position: relative

	.col-3
		position: static

.bottom-menu__main-item
	display: block
	font-size: 0
	line-height: 70px
	padding: 0 30px
	position: relative

	span
		display: inline-block
		vertical-align: middle
		font-size: 15px
		font-weight: 400
		transition: color 0.2s ease-in-out

	&:before
		content: ""
		height: 100%
		width: 1px
		position: absolute
		left: 0
		top: 0
		background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%)
		opacity: 0.1

	&:hover
		span
			color: $accent

		.icon-iphone
			background: url(../img/icons/menu-iphone--hover.svg)

		.icon-macbook
			background: url(../img/icons/menu-macbook--hover.svg)

.bottom-menu__item--last
	&:after
		content: ""
		height: 100%
		width: 1px
		position: absolute
		right: 0
		top: 0
		background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%)
		opacity: 0.1

.bottom-menu__item-icon
	display: inline-block
	vertical-align: middle
	margin-right: 30px

.bottom-menu__dropdown
	//display: none
	position: absolute
	top: 70px
	left: 50%
	width: calc(100% - 2px)
	transform: translate(-50%, 10px)
	background-color: #fff
	box-shadow: 0 20px 50px 0 rgba(0,0,0,0.1)
	z-index: 2
	transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1)
    opacity: 0
	visibility: hidden

	&.active
		//display: block
    	opacity: 1
		visibility: visible
		transform: translate(-50%, 0)

	&:before, &:after
		content: ''
		display: block
		width: 1px
		height: 100%
		background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 50%, rgba(0,0,0,0) 100%)
		position: absolute
		top: 0

	&:before
		left: 33.33333%

	&:after
		right: 33.33333%


.dropdown__row
	&:before
		content: ''
		display: block
		width: 100%
		height: 1px
		background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 50%, rgba(0,0,0,0) 100%)
		position: absolute
		top: 0
		left: 0

	&.row
		position: relative

.dropdown__item
	font-size: 14px
	text-align: center
	transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1)

	a
		display: block
		padding: 20px 30px
		width: 100%
		height: 100%

	&:hover
		color: $accent
		box-shadow: 0 10px 40px rgba(0,0,0,0.1)



.icon-iphone
	width: 35px
	height: 41px
	background: url(../img/icons/menu-iphone.svg) center center no-repeat
	transition: background 0.2s ease-in-out

.icon-macbook
	width: 58px
	height: 32px
	background: url(../img/icons/menu-macbook.svg) center center no-repeat
	transition: background 0.2s ease-in-out

.hero
	position: relative
	height: 100vh
	min-height: 650px
	background-position: center center
	background-repeat: no-repeat
	background-size: cover

.hero-content
	position: relative
	top: calc(50% - 70px)
	left: 50%
	transform: translate(-50%, -50%)
	text-align: center

	h1
		//font-family: "Barlow Condensed", sans-serif
		font-size: 58px
		font-weight: 700
		line-height: 80px
		margin-bottom: 70px

		//letter-spacing: 1px

.btn
	//font-family: "Barlow Condensed", sans-serif
	position: relative
	display: inline-block
	border-radius: 50px
	color: #fff
	font-size: 17px
	font-weight: 500
	outline: 0
	border: none
	user-select: none
	white-space: nowrap
	vertical-align: middle
	letter-spacing: 0.5px
	box-shadow: 0 10px 40px -10px rgba(76, 153, 230, 0.85)
	background-color: $accent

	//background: -moz-linear-gradient(45deg, #7cbded 0%, #4688d6 100%)
	//background: -webkit-linear-gradient(45deg, #7cbded 0%,#4688d6 100%)
	//background: linear-gradient(45deg, #7cbded 0%,#4688d6 100%)
	//filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7cbded', endColorstr='#4688d6',GradientType=1 )
	z-index: 2
	transition: all 0.5s ease

	&:before
		//content: ''
		//position: absolute
		//left: 0
		//top: 0
		//width: 100%
		//height: 100%
		//border-radius: 50px
		//opacity: 0
		//z-index: -2
		//transition: opacity .5s ease

		//background-color: $accent
		//background: -moz-linear-gradient(45deg, #4688d6 0%, #7cbded 100%)
		//background: -webkit-linear-gradient(45deg, #4688d6 0%,#7cbded 100%)
		//background: linear-gradient(45deg, #4688d6 0%,#7cbded 100%)
		//filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4688d6', endColorstr='#7cbded',GradientType=1 )

		//-webkit-transform: translate3d(0,0,0)

	&:hover
		color: #fff
		box-shadow: 0 5px 15px -5px rgba(76, 153, 230, 0.5)
		background-color: $gradient-1

	&:visited
		color: #fff

.btn--xl
	padding: 22px 55px

.btn-arrow
	display: inline-block
	height: 16px
	width: 8px
	background: url(../img/icons/btn-arrow.svg) center center no-repeat
	vertical-align: top
	margin-left: 7px

.link-arrow
	display: inline-block
	height: 16px
	width: 8px
	background: url(../img/icons/link-arrow.svg) center center no-repeat
	vertical-align: -3px
	margin-left: 2px

.advantages-item
	text-align: center

.advantages-item__image
	margin-bottom: 35px

.advantages-item__headline
	font-family: "Barlow Condensed", sans-serif
	font-size: 25px
	font-weight: 700
	margin-bottom: 20px
	text-transform: uppercase
	letter-spacing: 2px

.advantages-item__text
	font-size: 17px
	font-weight: 300
	line-height: 24px


.section__headline
	margin-bottom: 120px

.feedback-item
	position: relative
	padding: 30px
	padding-top: 70px
	text-align: center
	background-color: #fff
	box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05)
	margin-bottom: 30px
	transition: box-shadow 250ms cubic-bezier(0.02, 0.01, 0.47, 1)
	cursor: default

	&:hover
		box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.1)

		.feedback-item__image-wrapper
			//padding: 5px


.feedback-item__image-wrapper
	//width: 70px
	//height: 70px
	//padding: 5px
	position: absolute
	left: 50%
	top: -40px
	box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3)
	border-radius: 50%
	overflow: hidden
	transform: translate(-50%)
	//background-color: #ccc

.feedback-item__client-image
	display: inline-block
	width: 90px
	height: 90px
	//object-fit: cover
	

.feedback-item__client-name
	font-family: "Barlow Condensed", sans-serif
	font-size: 24px
	font-weight: 700
	letter-spacing: 1px
	margin-bottom: 15px

.feedback-item__client-text
	font-size: 16px
	font-weight: 300
	line-height: 22px

.news-item
	background-color: #fff
	box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05)
	margin-bottom: 30px
	cursor: default
	overflow: hidden
	transition: padding 250ms cubic-bezier(0.4, 0, 0.2, 1), margin 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.02, 0.01, 0.47, 1)

	&:hover
		box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.1)
		padding: 5px
		margin: -5px

.news-item__image-wrapper

.news-item__image
	width: calc(100% + 10px)
	height: 165px
	object-fit: cover
	transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1)
	transform: translate(-5px, -5px)

.news-item__content
	padding: 30px
	position: relative

.news-item__content-header
	+clearfix

	margin-bottom: 20px

.news-item__category
	font-family: $font-2
	display: inline-block
	float: left
	color: $accent
	text-transform: uppercase
	font-size: 18px
	line-height: 18px
	font-weight: 700

.news-item__date
	display: inline-block
	float: right
	font-weight: 300
	font-size: 14px
	line-height: 18px

.news-item__headline
	font-family: $font-2
	font-size: 24px
	font-weight: 700
	letter-spacing: 1px
	margin-bottom: 20px

.news-item__text
	font-size: 16px
	font-weight: 300
	line-height: 24px
	height: 70px
	overflow: hidden

.news-item__link
	position: absolute
	right: 30px
	bottom: 30px
	background-color: #fff
	line-height: 21px
	font-weight: 300
	color: $accent !important

	&:before
		content: "..."
		position: absolute
		left: -20px
		bottom: 0
		background-color: #fff
		height: 100%
		width: 20px
		font-weight: 300
		color: $font
		pointer-events: none




@import "media"
